@use "../abstracts/variables" as var;

.playlist-page {
	padding: 2rem 0rem;

	&__heading {
		font-size: 2.2rem;
    margin-left: 1rem;

		@media (max-width: 400px) {
			font-size: 1.4rem;
		}
	}

	&__wrapper {
		background-color: rgba(255, 255, 255, 0.03);
		border-radius: 0.5rem;
		padding: 2rem;
	}

	&__header {
		border-radius: 0.5rem 0.5rem 0 0;
		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		@media (max-width: 400px) {
			font-size: 1.4rem;
		}
	}

  &__info {
    flex: 1;
  }

	&__owner-text {
		color: var.$color-primary-light;
		margin-bottom: 1rem;
		margin-top: 0.25rem;
    margin-left: 1rem;
	}

  &__following-text {
    margin-bottom: 1rem;
  }

	&__play-all-icon {
		font-size: 1.6rem;
		margin-left: 0.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__play-all-btn {
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		background-color: var.$color-primary;
		color: var.$color-dark-gray;
		border-radius: 0.5rem;
		border: 2px solid transparent;
		font-family: inherit;
		font-size: 1rem;
		transition: all 0.3s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.05);
			border: solid 2px var.$color-primary;
			color: var.$color-primary;
		}

		@media (max-width: 600px) {
			padding: 0.2rem 0.4rem;
			font-size: 0.9rem;
		}
	}

	&__follow-btn,
	&__unfollow-btn {
		margin-right: 1rem;
		padding: 0.6rem 1rem;
		font: inherit;
		border: none;
		outline: none;
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		border: 2px solid transparent;
		background-color: rgba(255, 255, 255, 0.1);
		transition: all 0.3s;
		color: rgba(255, 255, 255, 0.8);

		&:hover {
			border: 2px solid var.$color-primary;
			color: var.$color-primary;
			background-color: rgba(255, 255, 255, 0.03);
		}
	}

	&__follow-icon,
	&__unfollow-icon {
		margin-left: 0.5rem;
		font-size: 1.4rem;
		color: var.$color-primary;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		margin-top: 2rem;
		background-color: rgba(255, 255, 255, 0.03);
		border-radius: 0.3rem;
		line-height: 1.3;
	}

	&__list-heading {
		padding: 2rem;
		font-size: 1.8rem;

		@media (max-width: 700px) {
			font-size: 1.2rem;
		}
	}

	&__item {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid rgba(255, 255, 255, 0.1);

		&:hover {
			background-color: rgba(255, 255, 255, 0.03);
		}
	}

	&__img {
		border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;

		@media (max-width: 370px) {
			display: none;
		}
	}

	&__song {
		flex: 1;
	}

	&__title,
	&__artist {
		margin-left: 0.9rem;
	}

	&__title {
		margin-bottom: 0.3rem;
		font-size: 1.1rem;
		cursor: pointer;
		color: var.$color-primary-light;
		transition: all 0.3s;

		&:hover {
			color: var.$color-primary;
		}

		@media (max-width: 500px) {
			font-size: 0.9rem;
		}
	}

	&__artist {
		color: rgba(255, 255, 255, 0.8);
		font-weight: 300;
		font-size: 0.9rem;

		@media (max-width: 500px) {
			font-size: 0.8rem;
		}
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__delete-btn {
		margin-left: 0.5rem;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100rem;
		width: 2.4rem;
		height: 2.4rem;
		background-color: rgba(255, 255, 255, 0.1);
		border: 2px solid transparent;
		margin-right: 1rem;
		font-size: 1rem;
		color: var.$color-light;
		transition: all 0.3s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.15);

			.playlist-page__delete-icon {
				color: rgb(185, 82, 125);
			}
		}
	}

	&__delete-icon {
		font-size: 1.6rem;
		color: rgba(255, 255, 255, 0.6);
		transition: all 0.3s;
	}
}
