@use "../abstracts/variables" as var;

.queue-page {
	margin: 1rem 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 1rem;

	&__header {
		display: flex;
		align-items: center;
		margin: 2rem;
	}

	&__heading {
		flex: 1;
		font-size: 2rem;
	}

	&__list {
		margin: 0 2rem;
		border-radius: 0.5rem;
		overflow: hidden;
		margin-bottom: 2rem;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 2rem;
		background-color: rgba(255, 255, 255, 0.05);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		position: relative;
		overflow: hidden;

		&:last-of-type {
			border-bottom: none;
		}
		
		&--now-playing {
			border: 2px solid var.$color-primary !important;
			margin: 1rem;
			padding: 2rem;
			border-radius: 0.5rem;
		}

		&:nth-child(2) {
			-moz-border-radius: 0px;
			-webkit-border-radius: 0.5rem 0.5rem 0 0;
			border-radius: 0.5rem 0.5rem 0 0;
		}
	}

	&__btn {
		color: var.$color-primary;
		font-size: 1.5rem;
		cursor: pointer;
	}

	&__now-playing {
		background-color: rgba(255, 255, 255, 0.1);
		color: var.$color-primary;
		padding: 0.25rem;
		border-radius: 0.5rem;
		transform: translateX(-1rem);
	}

	&__song-info {
		flex: 1;
	}

	&__artist {
		font-size: 1.2rem;
		font-weight: 500;
		color: var.$color-primary;
		margin-bottom: 0.25rem;
	}

	&__play-all-icon {
		font-size: 1.5rem;
		margin-left: 0.5rem;
		transition: all 0.2s;
		color: rgba(0, 0, 0, 0.8);
	}

	&__play-all-btn {
		outline: none;
		background-color: var.$color-primary;
		padding: 0.5rem 0.75rem;
		border: 2px solid transparent;
		font: inherit;
		display: flex;
		align-items: center;
		border-radius: 0.5rem;
		transition: all 0.3s;
		color: rgba(0, 0, 0, 0.8);
		font-size: 1rem;

		&:focus,
		&:hover {
			background-color: rgba(255, 255, 255, 0.03);
			border: 2px solid var.$color-primary;
			color: var.$color-primary;

			& .queue-page__play-all-icon {
				color: var.$color-primary;
			}
		}
	}

	&__delete-icon {
		font-size: 1.5rem;
		color: rgba(255, 255, 255, 0.8);
	}

	&__delete-btn {
		border: none;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100rem;
		width: 2rem;
		height: 2rem;
		background-color: rgba(255, 255, 255, 0.2);
		border: 2px solid transparent;
		transition: all 0.3s;

		&:focus {
			border: 2px solid rgb(221, 132, 180);
		}

		&:hover {
			background-color: rgb(185, 82, 125);

			& queue-page__delete-icon {
				color: #fff;
			}
		}
	}
}
