@use "../abstracts/variables" as var;

.queue-page {
	margin: 1rem 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 1rem;

	&__header {
		font-size: 2em;
		margin: 2rem;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 2rem;
		background-color: rgba(255, 255, 255, 0.05);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;

		&--now-playing {
			border: 2px solid var.$color-primary;
		}
	}

	&__btn {
		color: var.$color-primary;
		font-size: 1.5rem;
		cursor: pointer;
	}

    &__now-playing {
        background-color: var.$color-primary;
        color: rgba(0, 0, 0, .8);
        padding: .25rem;
        border-radius: .5rem;
        opacity: .8;
        transform: translateX(-1rem);
    }

    &__song-info {
        flex: 1;
    }

    &__artist {
        font-size: 1.2rem;
        font-weight: 500;
        color: var.$color-primary;
        margin-bottom: .25rem;
    }

    &__song {

    }
}
