@use "./../abstracts/variables" as var;

.yt-playlist {
	background-color: rgba(255, 255, 255, 0.03);
	margin: 1rem 0;
	border-radius: 1rem;
	overflow: hidden;

	&__loading {
		padding: 2rem;
	}

	&__header {
		display: flex;
		align-items: center;
		padding: 2rem;
	}

	&__heading {
		@media (max-width: 700px) {
			font-size: 1.6rem;
		}
		&--secondary {
			font-size: 2rem;
			margin-bottom: 2rem;
			padding: 0 2rem;

			@media (max-width: 700px) {
				font-size: 1.6rem;
			}
		}
	}

	&__info {
		flex: 1;
	}

	&__thumbnail {
		max-width: 100px;
		height: auto;
		border-radius: 0.5rem;
		overflow: hidden;
		margin-right: 1rem;
	}

	&__song {
		font-size: 1.2rem;
		color: var.$color-primary-light;
		font-weight: 500;
		margin-bottom: 0.25rem;
		transition: all 0.3s;
		cursor: pointer;
		transition: all 0.3s;

		@media (max-width: 700px) {
			font-size: 1rem;
		}

		&:hover {
			color: var.$color-primary;
		}
	}

	&__artist {
		color: rgba(255, 255, 255, 0.6);
	}

	&__list {
		background-color: rgba(255, 255, 255, 0.05);
		padding-top: 2rem;
		margin: 2rem;
		overflow: hidden;
		border-radius: 0.5rem;

		@media (max-width: 700px) {
			margin: 1rem;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 1rem 2rem;
		background-color: rgba(255, 255, 255, 0.03);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		transition: all 0.3s;

		&:first-of-type {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
		}

		&:last-of-type {
			border-bottom: none;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.06);

			.yt-playlist__song {
				color: var.$color-primary;
			}
		}
	}

	&__song-info {
		flex: 1;
	}

	&__btn {
		margin-left: 2rem;
		display: flex;
		align-items: center;

		.yt-playlist__icon {
			margin-left: 0.5rem;
			color: rgba(0, 0, 0, 0.6);
			font-size: 1.6rem;
			vertical-align: middle;
			transition: all 0.3s;
		}

		&:hover {
			.yt-playlist__icon {
				color: var.$color-primary;
			}
		}

		& span {
			transform: translateY(2px);
		}
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__share-btn {
		margin-left: 2rem;
		margin-bottom: 2rem;
	}
}
