@use "../abstracts/variables" as var;

.layout {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 1rem;

	@media (max-width: 1600px) {
		padding: 0 1rem;
		grid-template-columns: 1fr;
		max-width: 80rem;
		margin: 0 auto;
    padding-bottom: 12rem;
	}

	&--extra-padding {
		padding-bottom: 40rem;
	}
}
