@use "../abstracts/variables" as var;

.layout {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-gap: 1rem;

	@media (max-width: 1600px) {
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr;
	}

  @media(max-width: 1300px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
