@use "../abstracts/variables" as var;

.queue__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var.$color-primary;
  margin: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.queue-message {
  font-size: .9rem;
  padding: 0.25rem;
  position: absolute;
  background-color: rgba(39, 39, 39);
  color: rgba(255, 255, 255, .6);
  border-radius: 0.5rem;
  transition: opacity 0.3s;

  &--hide {
    z-index: -1000;
  }
}
