@use "../abstracts/variables" as var;

.all-results {
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 1rem;
	padding: 2rem;
	margin-bottom: 2rem;

	@media (max-width: 700px) {
		padding: 0;
		background-color: transparent;
	}
}
