@use "../abstracts/variables" as var;

.artists-results {
	background-color: rgba(255, 255, 255, 0.03);
	max-width: 100%;
	border-radius: 1rem;
	margin-bottom: 2rem;
	overflow: hidden;
	padding: 2rem;
	padding-bottom: 0;

	@media (max-width: 700px) {
		padding: 0;
		background-color: transparent;
	}
}
