@use "./../abstracts/variables" as var;

.artistslist {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 2rem;

	&__heading {
		font-size: 2.2rem;
		padding: 2rem;

		@media (max-width: 700px) {
			font-size: 1.8rem;
		}
	}

	&__item {
		padding: 1rem 2rem;
		background-color: rgba(255, 255, 255, 0.03);
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: all 0.3s;

		&:first-of-type {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
		}

		&:last-of-type {
			border-bottom: none;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.05);

			.artistslist__artist-name {
				color: var.$color-primary;
			}
		}
	}

	&__artist-name {
		font-size: 1.2rem;
		color: var.$color-primary-light;
		font-weight: 600;
		transition: all 0.3s;
	}

	&__thumbnail {
		max-width: 4rem;
		height: auto;
		border-radius: 0.5rem;
		overflow: hidden;
	}
}
