@use "../abstracts/variables" as var;

.yt-playlists {
  background-color: rgba(255, 255, 255, .03);
  max-width: 100%;
  padding: 2rem 0;
  border-radius: 1rem;
  margin-bottom: 2rem;

  &__header {
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  &__list {

  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, .03);

    &:hover {
      background-color: rgba(255, 255, 255, .06);
    }

    &:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, .1);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__title {
    color: var.$color-primary;
    font-weight: 600;
    font-size: 1.1rem;
    opacity: .8;

    &:hover {
      opacity: 1;
      color: rgba(255, 255, 255, .8);
    }
  }

  &__author {
    margin-left: .25rem;
    color: rgba(255, 255, 255, .6);
  }

  &__icon {
    font-size: 2.1rem;
    color: var.$color-primary;
    cursor: pointer;

    &:hover {
      color: rgba(255, 255, 255, .2);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__more {
    background-color: rgba(255, 255, 255, .05);
    margin-left: .5rem;
    padding: 7px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }

    &-icon {
      font-size: 1.1rem;
    }
  }

  &__link {
    color: inherit;
  }
}