@use "../abstracts/variables" as var;

.play__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var.$color-primary;
  margin: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}
