@use "../abstracts/variables" as var;

.search {
	margin-top: 1rem;
	margin-bottom: 2rem;
	background-color: rgba(255, 255, 255, 0.03);
	border-radius: 1rem;
	padding: 1rem 2rem;

	@media (max-width: 500px) {
		padding: 1rem;
	}

	&__form {
		margin-bottom: 0.5rem;
	}

	&__types {
		display: flex;
	}

	&__type {
		color: rgba(255, 255, 255, 0.8);
		padding: 0.5rem 1rem;
		background-color: rgba(255, 255, 255, 0.05);
		margin-right: 0.5rem;
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 500px) {
			font-size: 0.8rem;
		}

		&--active {
			background-color: rgba(255, 255, 255, 0.15);
		}

		&:hover {
			background-color: var.$color-dark-gray;
		}

		p {
			vertical-align: middle;
		}
	}

	&__input {
		min-width: 30rem;
		padding: 1rem 2rem;
		font: inherit;
		border: none;
		border-radius: 0.5rem;
		background-color: rgba(255, 255, 255, 0.05);
		outline: none;
		color: rgba(255, 255, 255, 0.8);
		transition: all 0.3s;
		margin-bottom: 0.5rem;

		@media (max-width: 670px) {
			min-width: 18rem;
		}

		&:focus {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}

	&__btn {
		margin-left: 0.5rem;
		padding: 0.75rem 1.5rem;
		outline: none;
		border: 2px solid transparent;
		cursor: pointer;
		border-radius: 0.5rem;
		font: inherit;
		font-size: 0.9rem;
		background-color: var.$color-primary;
		transition: all 0.3s;

		&:focus,
		&:hover {
			background-color: rgba(255, 255, 255, 0.03);
			border: 2px solid var.$color-primary;
			color: var.$color-primary;
		}
	}
}
