@use './../abstracts/variables' as var;

.songslist {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;

  &__heading {
    font-size: 2.2rem;
    padding: 2rem;

    @media (max-width: 700px) {
      font-size: 1.8rem;
    }
  }

  &__item {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;

    &:first-of-type {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);

      .songslist__song-name {
        color: var.$color-primary;
      }
    }
  }

  &__artist-name {
    text-align: left;
    &::before {
      content: '–';
      margin-right: 0.25rem;
      margin-left: 0.25rem;

      @media (max-width: 800px) {
        content: '';
        margin: 0;
      }
    }
  }

  &__song-name {
    text-align: left;
    color: var.$color-primary-light;
    font-weight: 600;
    transition: all 0.3s;
  }

  &__info {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  &__btn {
  outline: none;
	border: none;
	padding: 1rem 2rem;
	margin: 1.5rem;
	border-radius: 0.5rem;
	background-color: var.$color-primary;
	color: rgba(0, 0, 0, 0.8);
	font: inherit;
	cursor: pointer;
	transition: all 0.5s;
	border: 2px solid transparent;

    @media (max-width: 700px) {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      color: var.$color-primary;
      border: 2px solid var.$color-primary;

      &:focus {
        border: 2px solid var.$color-primary;
      }
    }
  }
}
