.search {
	margin-top: 1rem;
	margin-bottom: 2rem;

  &__form {
    margin-bottom: .5rem;
  }

	&__types {
		display: flex;
	}

	&__type {
		padding: 0.5rem 1rem;
		background-color: #eee;
		margin-right: 0.5rem;
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		&--active {
			background-color: rgb(180, 180, 180);
		}

		&:hover {
			background-color: rgb(180, 180, 180);
		}

		p {
			vertical-align: middle;
		}
	}

	input[type="text"] {
		min-width: 30rem;
		padding: 1rem 2rem;
		font: inherit;
		border: none;
		border-radius: 0.5rem;
		background-color: #eee;
		outline: none;

		&:focus {
			background-color: #dadada;
		}
	}

	input[type="submit"] {
		padding: 1rem 2rem;
		cursor: pointer;
	}
}
