body {
  background-color: #0C0E0E;
  color: rgb(243, 236, 223);
}

h1 {
  color: #876DC6;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 8rem;
  width: 50vw;
}

.form > * {
  padding: 1rem;
  color: rgb(243, 236, 223);
}

.form label {
  text-align: left;
}

.controlling-form, .form__form-control {
  display: grid;
  grid-template-columns: 40% 60%;
}

.controlling-form input,
.form__form-control input {
  height: 2rem;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: #876DC6;
}
